
.cadastro-pag {
   overflow: hidden;

    .cadastro-form {
     display: block;
     position: static;
     color: white;    
     margin-top: 50px ;
    }
  
    
    .custom-item {
      color: white;
    }
  }

  .animated-button {
    font-weight: bold;
    font-size: 16px;
    height: 80px;
  }
  
  ion-button {
    margin-top: -20px;
    margin-bottom: 5px;
    padding: 16px;
    
  }

  a {
    color: black;
    text-decoration: none;
  }

  a:hover {
    color: gray;
  }

  #voltar {
    position: fixed;
    color: white;
    font-size: 27px;
    margin: 0;
    padding-left: 10px;
    padding-top: 60px; 
  }


  ion-item ion-input {
    --border-radius: 15px; 
    --padding-top:4px;
      width: 310px;
    --inner-border-width: 0px;
    --highlight-color-focused: black;
    --highlight-color-hover: transparent; 
      color: black;
    }
    
    .eye-icon {
      position: absolute;
      top: 52%;
      right: 33px;
      transform: translateY(-50%);
      z-index: 10;
      cursor: pointer;
      color: var(--ion-color-medium); 
    }

  h1 {
    color: black;
    font-weight: bold;
    text-decoration: none;
    padding: 20px;
    font-size: 35px;
    white-space: nowrap;
  }

  p {
    color: black;
  }

  .background-image {
    overflow: hidden;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: url('/assets/teste.png');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
  }

  .custom-item {
    --background: transparent; 
    --inner-border-width: 0px; 
    --highlight-background: transparent;    // remove as marcas de incompatibilidade
    --highlight-border-color: transparent;  // importante, não remover
    }

    .custom-item-1 {
      display: flex;
      justify-content: center; 
      align-items: center; 
      flex-direction: column; 
      height: 100%; 
    --background: transparent; 
    --inner-border-width: 0px; 
    --highlight-background: transparent;    // remove as marcas de incompatibilidade
    --highlight-border-color: transparent;
    }

    .text-container {
      text-align: center; 
      margin: auto;
      padding: 5px;
    }

    .text-container p {
      margin-bottom: 35px;
    }