<ion-content [fullscreen]="true" class="recuperar-pag">
  <div class="background-image">
    <div class="back">
      <ion-buttons slot="start">
        <ion-button id="voltar" routerLink="/login" fill="clear">
          <ion-icon slot="start" name="arrow-back"></ion-icon>
        </ion-button>
      </ion-buttons>
    </div>
  </div>
  <div class="recuperar-form">
    <ion-card>
      <ion-card-content>
        <ion-item class="custom-item">
          <div class="texto-principal">
          <h1> Esqueceu a senha?</h1> 
        </div>
         </ion-item>
          <ion-item class="custom-item">
          <p>Insira seu endereço de e-mail abaixo para redefinir sua senha.</p>
        </ion-item>

        <div class="email-espaço">
        <ion-item class="custom-item">
          <ion-input label="E-mail" fill="outline" labelPlacement="floating" placeholder="Digite seu e-mail" type="email" [(ngModel)]="email"></ion-input>
        </ion-item>
         </div>

        <div class="botao">
          <ion-button class="animated-button" shape="round" expand="block" color="dark" (click)="recuperarSenha()" [disabled]="isLoading">
            <ng-container *ngIf="!isLoading">Enviar e-mail</ng-container>
            <ng-container *ngIf="isLoading">
              <ion-spinner name="crescent"></ion-spinner>
            </ng-container>
          </ion-button>
        </div>
   