<ion-content [fullscreen]="true" class="login-pag">
  <div class="background-image"></div>
  <div class="login-form">
    <ion-card>
      <ion-card-content>
        
        <ion-item class="custom-item">
          <h1> Login </h1>
        </ion-item>
        
        <ion-item class="custom-item">
          <ion-input label="Usuário ou e-mail" fill="outline" labelPlacement="floating" placeholder="Digite seu nome de usuário ou e-mail" type="text" [(ngModel)]="emailOuUsuario"></ion-input>
        </ion-item>

        <br>

        <ion-item class="custom-item">
          <ion-input label="Senha" fill="outline" labelPlacement="floating" placeholder="Digite sua senha" [type]="passwordType" type="password" [(ngModel)]="senha"></ion-input>
          <ion-icon [name]="passwordIcon" (click)="togglePasswordVisibility()" class="eye-icon"></ion-icon>
        </ion-item>

        <div class="botao">
          <ion-button class="animated-button" shape="round" expand="block" color="dark" (click)="fazerLogin()" [disabled]="isLoading">
            <ng-container *ngIf="!isLoading">Entrar</ng-container>
            <ng-container *ngIf="isLoading">
              <ion-spinner name="crescent"></ion-spinner>
            </ng-container>
          </ion-button>
        </div>

        <ion-text>
          <a id="senha-link" (click)="irParaRecuperarSenha()">Esqueci a senha</a>
          <a id="cad-link" (click)="irParaCadastro()">Cadastre-se</a>
        </ion-text>

        <div class="divisao"> 
          <span class="line"></span>
          <p> &nbsp;ou entrar com&nbsp; </p>
          <span class="line"></span>
         </div>
         
        <div class="social-login">
          <ion-button (click)="loginGoogle()" fill="clear" >
            <img src="assets/google-icon.svg"  alt="Google" class="social-icon">
          </ion-button>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
