ion-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    padding: 16px; 
    
    .avaliacao {
      display: flex;
      flex-direction: column; 
      align-items: center; 
      padding: 20px;
    }

    .estrelas-container {
      display: flex;
      flex-direction: row; 
      justify-content: center; 
      margin-bottom: 10px;
      margin-top: 10px;
    }

    .estrela {
      font-size: 30px;  
      color: #f39c12; 
      cursor: pointer;
      transition: transform 0.2s ease, color 0.2s ease;
    }

    .estrela:hover {
      transform: scale(1.2);
    }

    .nota-texto {
      margin-top: 10px; 
      font-size: 14px;
      color: #444; 
      text-align: center;
      margin: auto;
    }
  
    .resenha-container {
      margin-bottom: 100px;
      margin: 20px;
      padding: 0;
    }
  
    .resenha-item {
      border-radius: 10px;
      --background: #ffffff;
      border: #e7e7e7 solid 1px;
      --box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.25);
      padding: 10px;
    }

    .resenha-textarea {
      font-size: 18px;
      min-height: 100px; 
      max-height: 200px; 
      --color: #333333;
    }
  
    ion-item {
      --background: #f9f9f9; 
      --border-color: #e0e0e0; 
      border-radius: 15px; 
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
      margin: 0 auto;
    }

    .resenha-textarea {
      font-size: 14px;
      line-height: 1.5; 
      color: #333; 
      background-color: transparent; 
      padding: 10px; 
      border: none;
      resize: none;
    
  }
}

  .confirmar-btn {
    color: white; 
    margin-top: auto; 
    border-radius: 25%;
    font-weight: bold;
    font-size: 13px;
    width: 130px;
    margin-left: 50px;
    height: 40px;
  }

   .reset-btn {
    font-weight: bold;
    font-size: 13px;
    width: 130px;
    height: 40px;
    margin-top: auto; 
   }

  .excluir-btn {
    font-weight: bold;
    font-size: 13px;
    width: 130px;
    height: 40px;
    margin-top: auto; 
  }

  .modal-title {
    font-size: 18px;
    font-weight: 600;
    color: #333333; 
    text-align: left; 
  }

  ion-icon {
    font-size: 20px;
    color: #666666; 
  }

  .modal-header {
    --background: #ffffff; 
    border-bottom: 1px solid #e0e0e0; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    z-index: 1;
  }
  