ion-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    padding: 16px; 
    
    .avaliacao {
      display: flex;
      flex-direction: column; 
      align-items: center; 
      padding: 20px;
    }

    .estrelas-container {
      display: flex;
      flex-direction: row; 
      justify-content: center; 
      margin-bottom: 10px;
      margin-top: 10px;
    }

    .estrela {
      font-size: 30px;  
      color: #f39c12; 
      cursor: pointer;
    }

    .nota-texto {
      margin-top: 10px; 
      font-size: 14px;
      color: #444; 
      text-align: center;
      margin: auto;
    }
  
    .resenha-container {
      margin-bottom: 100px;
      margin: 20px;
      padding: 0;
    }
  
    .resenha-textarea {
      min-height: 100px; 
      max-height: 200px; 
    }
  
    ion-item {
      --background: #f9f9f9; 
      --border-color: #e0e0e0; 
      border-radius: 15px; 
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
      margin: 0 auto;
    }

    .resenha-textarea {
      font-size: 14px;
      line-height: 1.5; 
      color: #333; 
      background-color: transparent; 
      padding: 10px; 
      border: none;
      resize: none;


    .confirmar-btn {
      color: white; 
      margin-top: auto; 
      border-radius: 25%;
      font-weight: bold;
      font-size: 17px;
      width: 300px;
      margin-left: 40px;
      height: 40px;
    }
    
  }
}

  .confirmar-btn {
    color: white; 
    margin-top: auto; 
    border-radius: 25%;
    font-weight: bold;
    font-size: 17px;
    width: 300px;
    margin-left: 40px;
    height: 40px;
  }