ion-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    padding: 16px; 
    
    .avaliacao {
      display: flex;
      justify-content: center; 
      margin: 100px 100px;
    }
  
    .estrela {
      font-size: 30px;  
      color: #f39c12; 
      cursor: pointer;
    }
  
    .resenha-container {
      margin-bottom: 150px;
    }
  
    .resenha-textarea {
      min-height: 100px; 
      max-height: 200px; 
    }
  
    .confirmar-btn {
      color: white; 
      margin-top: auto; 
      border-radius: 25%;
      font-weight: bold;
      font-size: 16px;
    }
  }
  
  