<ion-header class="modal-header">
  <ion-toolbar>
      <ion-title class="modal-title">Avaliar Livro</ion-title>
      <ion-buttons slot="end">
          <ion-button (click)="fecharModal()">
              <ion-icon color="dark" name="close"></ion-icon>
          </ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="avaliacao">
    <div class="estrelas-container">
      <ion-icon
          *ngFor="let i of [0, 1, 2, 3, 4]; let index = index" 
          [name]="nota >= index + 1 ? 'star' : (nota === index + 0.5 ? 'star-half-outline' : 'star-outline')"
          (click)="setNota(index + 1)" 
          class="estrela"
          style="cursor: pointer;" 
      ></ion-icon>
    </div>
      <ion-text class="nota-texto">Nota</ion-text>
  </div>

  <div class="resenha-container">
      <ion-item lines="none" class="resenha-item">
          <ion-label position="floating"></ion-label>
          <ion-textarea 
              [(ngModel)]="resenha" 
              placeholder="O que você achou deste livro? Compartilhe sua opinião!" 
              rows="6" 
              class="resenha-textarea"
          ></ion-textarea>
      </ion-item>
  </div>
  <ion-row>
    <ion-col size="6">
      <ion-button shape="round" expand="block" color="dark" class="confirmar-btn" (click)="confirmarAvaliacao()">
        {{ botaoTexto }}
      </ion-button>
    </ion-col>
    <ion-col size="6">
      <ion-button shape="round" expand="block" color="danger" class="excluir-btn" (click)="excluirAvaliacao()">
        Excluir
      </ion-button>
    </ion-col>
  </ion-row>

</ion-content>
