<ion-content [fullscreen]="true">
  <ng-container *ngIf="!livroSelecionado">
    <ion-searchbar 
      [placeholder]="placeholder"
      showCancelButton="focus" 
      cancelButtonText="Cancelar"
      debounce="300"
      class="custom-searchbar"
      [(ngModel)]="searchQuery"
      (ionInput)="buscar()">
    </ion-searchbar>
    
    <br>

    <ion-segment value="livros" (ionChange)="updatePlaceholder($event)">
      <ion-segment-button value="livros">
        <ion-label>Livros</ion-label>
      </ion-segment-button>
      <ion-segment-button value="leitores">
        <ion-label>Leitores</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ng-container>

  <ng-container *ngIf="livroSelecionado; else listaLivros">
    <app-detalhes [livro]="livroSelecionado" (voltarParaLista)="livroSelecionado = null"></app-detalhes>
  </ng-container>

  <ng-template #listaLivros>
    <ion-list *ngIf="tipoBusca === 'livros'">
      <ion-item *ngFor="let livro of livros" (click)="mostrarDetalhes(livro)"> 
        <ion-thumbnail slot="start">
          <img *ngIf="livro.volumeInfo.imageLinks" [src]="livro.volumeInfo.imageLinks.thumbnail" alt="Capa do livro">
        </ion-thumbnail>
        <ion-label>
          <h2>{{ livro.volumeInfo.title }}</h2>
          <p id="autor">{{ livro.volumeInfo.authors ? livro.volumeInfo.authors.join(', ') : 'Autor desconhecido' }}</p>
          <p id="ano">{{ livro.volumeInfo.publishedDate ? livro.volumeInfo.publishedDate.split('-')[0] : 'Ano desconhecido' }}</p>
        </ion-label>
      </ion-item>
    </ion-list>

    <ion-list *ngIf="tipoBusca === 'leitores'">
      <ion-item *ngFor="let leitor of leitores" (click)="abrirPerfil(leitor.uid)">
        <ion-label>
          <h2>{{ leitor.usuario }}</h2>
          <p>{{ leitor.nome }}</p>
          <p>{{ leitor.email }}</p>
        </ion-label>
      </ion-item>
    </ion-list>
  </ng-template>

</ion-content>
