.custom-searchbar {
    --background: #f5f5f5;
    --border-radius: 20px;
    --padding-start: 10px;
    --padding-end: 10px;
    top: 10px;
  }
  
  ion-segment-button {
    color: black;
    border-radius: 7%;
  
    &.segment-button-checked {
      color: black;
      
      ion-label {
        font-weight: bold;
        color: black;
      }
  
      ion-ripple-effect {
        --background: black;
      }
    }
  }
  
  ion-segment-button.segment-button-checked {
    --indicator-color: black;
  }
  
  ion-toolbar {
    padding: 0 25px;
    height: 120px;
  }
  
  ion-thumbnail {
    width: 80px; 
    height: auto;
    margin-right: 10px; 
  }

  ion-thumbnail img {
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s, box-shadow 0.2s;
  }

  ion-thumbnail img:hover {
    transform: scale(1.05); 
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3);
  }
  
  ion-label h2 {
    font-size: 1.0em; 
    font-weight: bold; 
    color: #333; 
    margin-left: 5px;
    margin-top: -30px;
  }

  ion-label p {
    font-size: 0.9em; 
    color: #666; 
    margin-left: 5px;
  }
  
  ion-item {
    padding: 10px; 
    cursor: pointer;
    --border-color: #a0a0a0;
   
  }

  