.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 2rem;
}

.logo-lit {
  color: #757575;;
}

.logo-hub {
  color: black; 
}

 .titulo-feed {
  font-size: 1.6rem;
  font-weight: lighter;
  text-align: left;
  margin-left: 20px;
  color: #333;
  border-bottom: 1px solid #bbb9b9;
  padding-bottom: 15px;
  margin-bottom: 10px;
}

.empty-state {
  text-align: center;
  margin-top: 40px;
  color: #888;
}

.empty-state .empty-icon {
  font-size: 3rem;
  margin-bottom: 8px;
  color: #ccc;
}

.avaliacoes-list {
  margin-top: 16px;
}

.item-avaliacao {
  margin-bottom: 16px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.avaliacao-label {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.avaliador-nome {
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
  margin-top: -3px;
}

.livro-titulo {
  font-size: 1rem;
  margin: 4px 0;
}

.autor-nome {
  color: #555;
  font-size: 0.9rem;
}

.rating {
  display: flex;
  align-items: center;
  margin: 8px 0;
  color: #ffc107;
}

.star-icon {
  font-size: 1.2rem;
  color: #ffc107;
  margin-right: 2px;
}

.resenha {
  color: #666;
  font-size: 0.9rem;
  line-height: 1.4;
  margin-bottom: -10px;
}

.timestamp {
  color: #aaa;
  font-size: 0.8rem;
  margin-bottom: -35px;
}

.spinner-center {
 margin: auto;
 display: block;
}

.thumbnail-borda {
  border-radius: 8px; 
  overflow: hidden; 
}

ion-thumbnail {
  margin-top: 65px;
  margin-bottom: 20px;
  width: 100px;
  height: 140px;
  margin-right: 16px;
  margin-left: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
 }
  
 .nome-livro {
  font-size: 16px;
  color: rgb(41, 41, 41);
 }

// icon
.user-info {
  z-index: 1;
  left: 5px;
  top: 10px;
  position: absolute;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  
}

.user-icon,
.user-photo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  margin-right: 10px;
}

.user-icon {
  background-color: #555555;
  color: white;
}

.user-photo {
  object-fit: cover;
} 

.nova-avaliação {
  font-size: 13px; 
  color: #666; 
  margin: 0; 
  position: absolute;
  top: 20px; 
  left: 50px; 
  white-space: nowrap;
}
