.livro-details {
    text-align: center; 
  
    .capa-livro {
      max-width: 100%; 
      height: auto; 
      margin-bottom: 10px;
      border-radius: 10px;
     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
     background-color: #fff;
    }
  
    .livro-titulo {
      font-size: 1.5em; 
      margin: 0.5em 0; 
      color: black;
    }
  
    .livro-autora,
    .livro-ano,
    .livro-paginas {
      margin: 0.5em 0; 
    }
  
    .icone-adicionar {
      color: black;
      font-size: 30px; 
      cursor: pointer; 
      margin-top: 10px; 
    }
  }
  
  .sinopse-details {
    .sinopse-text {
      font-size: 1.2em; 
      margin: 0.5em 0;
      color: rgb(51, 51, 51);
      text-align: left;
    }

  
    .icon-toggle {
      display: flex; 
      justify-content: center; 
      align-items: center;
      margin-top: 1em;
      cursor: pointer;
      color: black;
      font-size: 14px;
  
      .chevron-icon {
        font-weight: bold;
        font-size: 1.5em; 
        cursor: pointer; 
      }
    }
  
  }

  .pagina-content {
    --background: #f7f7f7; 
    padding: 16px; 
  }

  .btn-voltar {
    padding: 6px;
    margin-top: -4px;
  }

  .toolbar-fino {
    --ion-toolbar-height: 40px; 
    height: 40px; 
    padding: 0; 
  }

  ion-toolbar {
    --background: #f7f7f7; 
  }

  ion-card h3 {
    color: black ;
    font-weight: normal;
    margin-left: 20px;
    font-weight: bold;
    margin-bottom: -5px;
  }

  .livro-card {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
  }

  .sinopse-card {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
  }

  .capa-livro {
    width: 130px;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin-right: 10px;
  }
